body{
    margin: 0px;
    background-color: #ddf3f5;
    color: #4e4d4d;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
}

h1{
    margin: 0px;
    text-align: left;
}

h2{
    color: #5f8609;
    margin-bottom: 50px;
}

h3{
    margin: 0px;
    text-align: left;
}


p{
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: #81b214;

}

a:hover{
    color: white;
}


.wrapper{
    width: 1000px;
    padding-top: 50px;
    margin: 0 auto 0 auto;
}

/* section pertama */

.intro{
    text-align: left;
}

.foto-profil{
    float: left;
    width: auto;
    height: 500px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 100px;
}

.btn{
    background-color: #81b214;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 230px;
    margin-left: 20px;
}

#attribute{
    position: absolute;
    right: 420px;
    top: 100px;
}

.tittle{
    color: #5f8609;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Caveat", cursive;
    display: block;
    margin-top: 100px;
}

/* section kedua */
.skill-row{
    text-align: left;
    margin-bottom: 200px;
}

.ux-skill-img{
    float: left;
    margin-right: 30px;
    height: 200px;
}

.web-skill-img{
    float: right;
    margin-top: -50px;
    margin-left: 30px;
    height: 300px;
}


/* section ketiga ***/
.cta-text{
    width: 70%;
    margin: 0 auto 12px auto;  
}

/* footer */

.footer{
    background-color: #4f8a8b;
}

.social-links{
    font-size: 18px;
    margin: 20px 12px 20px ;
    color: #ddf3f5;
    height: 35px;
}

.footer-text{
    font-size: 16px;
    margin-top: 30px;
}